<ul>
	<li><%= link_to "Hjem", :controller => "user", :action =>"home"%></li>
	<li><%= link_to "Finn en ting", :controller => "pages", :action => "topp"%></li>
	<li><%= link_to "Legg til en ting", :controller => "user", :action => "register"%></li>
</ul>