<ul>
	<li><%= link_to "Hva er byttelåne?", :controller => "pages", :action =>"om"%></li>
	<li><%= link_to "Topplista", :controller => "pages", :action => "topp"%></li>
	<li><%= link_to "Bli med i dag", :controller => "user", :action => "register"%></li>
</ul>