<ul>
	<li><%= link_to "Legg til", :controller => "user", :action => "add"%></li>
	<li><%= link_to "Søk", :controller => "pages", :action => "om"%></li>
	<li><%= link_to "Logg ut!", :controller => "user", :action => "logout"%></li>
</ul>