<h3>Hvorfor dele?</h3>

<p class="left">Mange eier flere bøker og filmer enn de rekker og se hele tiden. Det er godt å kjøpe en bok eller en film for så å få glede av denne. 
	Samtidig kan det være greit å byttelåne dersom noen har noe du ønsker og du har noe de ønsker. Oftest er problemet at informasjonen ikke kommer fram.   Det er greit å finne ut at du har lyst til å låne en bok av en venn når du er på besøk å titter inn i DVD-hylla, men hva med hverdagen. Kanskje du ser en kul trailer og har lyst til å se filmen. Her kan du legge inn tingene dine, og la andre søke.</p>
	
<div class="imagetextbox"> <h4>Del ressursene</h4> <%= image_tag "open_share.png"%><p>Ikke bare sparer du penger og miljøet, du skaper også en delekultur. Hvorfor ikke møtes å snakke om boka/filmen/spillet etter dere har byttelånt. Vi oppfordrer deg også til å kjøpe et verk hvis du ønsker å støtte kunstneren, eller bare donere penger på vedkommenes hjemmeside</p></div>


<div class="imagetextbox"> <h4>Informasjonsutvekling</h4> <p>Denne siden hjelper deg med å finne den informasjonen du trenger, men for at du skal kunne søke hos andre vil sikkert andre søke hos deg. Sørg derfor for å legge til ting du syntes det kunne vært greit å lånt bort og husk at det du kanskje syntes er uintressant kan være en annens store livsglede. </p> <%= image_tag "node_share.png"%></div>