<h2>Velkommen til Byttelåne</h2>
	
	<p class="button red">
	<%= link_to "Bli med idag!", :controller => "user", :action => "register"%>
	</p>
	
<p class="thin">Her kan du legge inn bøker, filmer, spill og andre kulturobjekter du har. Er det en film du ønsker å se, eller er det en bok du higer etter å lese. Gjør et søk og se om noen av vennene dine kan låne deg et eksemplar de har.</p>

	<p class="button green">
	<%= link_to "Hva har andre sagt?", :controller => "pages", :action => "referanser"%>
	</p>

<p class="thin">Her kan du også holde i oversikt i hva du eier, så du ikke risikerer å kjøpe det samme flere ganger, og hvis du deler listen din med andre så slipper du å få noe du allerede i har til bursdag eller jul.</p>

<p class="thin">Bli med i dag, og få muligheten til å si din mening. Bli med på i dag. Det er gratis for de første tusen objektene du legger inn.</p>

<iframe src="https://www.facebook.com/plugins/like.php?href=http://olovholm001.herokuapp.com"
        scrolling="no" frameborder="0"
        style="border:none; width:450px; height:80px"></iframe>
