<h2>Referanser</h2>
<h4>Ola Løvholm</h4>
<p>
	Ola har brukt siden fra begynnelsen. Han er fornøyd, men skulle gjerne hatt en jobb. Dette er ikke første gangen han har lagt noe ligende. Han er glad i Ruby on Rails, men mest av alt har han en teoretisk tilnærming til verdensveven. Ved å lære seg nye ting tror han at alt kan gjøres interessant. For å lage denne siden har han brukt RoR, CSS3, HTML5, og snart gyver han løs på Javascript.
</p>