<h2>Mest populære eiendeler</h2>
<article>
	<h4>Bøker</h4>
	<table class="smaller zebra">
		<tr>
			<th>Navn</th>
			<th>Forfatter</th>
			<th>Nummer registrerte</th>
		</tr>
		
	</table>
	
</article>