<% unless @user.nil? %>
	<h2><%= @user.fullname || @user.username%></h2>
	<img src="http://maps.googleapis.com/maps/api/staticmap?center=<%="#{@user.latitude},#{@user.longitude}"%>&zoom=14&size=400x400&maptype=roadmap&sensor=false" alt="Your estimated location"/>
<% else %>
	<h2>Hello</h2>
<% end %>