<% unless @user.nil? %>
	<h2><%= @user.fullname || @user.username%></h2>
	<article>
	<p><img src="http://maps.googleapis.com/maps/api/staticmap?center=<%="#{@user.latitude},#{@user.longitude}"%>&zoom=15&size=350x350&maptype=roadmap&markers=color:blue%7Clabel:U%7C<%="#{@user.latitude},#{@user.longitude}"%>&sensor=false" alt="Your estimated location"/>
	
	</article>
<% else %>
	<h2>Hello</h2>
<% end %>