<% unless @user.nil? %>
	<h2><%= @user.fullname || @user.username%></h2>
	<article>
	<p><img src="http://maps.googleapis.com/maps/api/staticmap?center=<%="#{@user.latitude},#{@user.longitude}"%>&zoom=14&size=300x300&maptype=roadmap&sensor=false" alt="Your estimated location"/>
	
	</article>
<% else %>
	<h2>Hello</h2>
<% end %>