	<h2>Velkommen ombord, <%= @username%></h2>
	<article>
		<p>Velkommen kjære nye bruker. Du kan nå logge inn, og legge inn bøker. Siden er fortsatt under en rivende utvikling og derfor kan det hende at 		ting endres drastisk ganske fort. Ta gjerne kontakt dersom det er noe du lurer på, eller skulle hatt, vi tar alltid imot gode ideer.</p>
	<article>